.FullPost {
  margin: 0 15%;
  padding-left: 5px;
  &_button {
    font-size: 22px;
    border: none;
    background-color: #f7f7f7;
  }
  &_button:hover{
      cursor: pointer;
  }
  &_userId {
    font-size: 44px;
  }
  &_title {
    font-size: 22px;
    margin-bottom: 20px;
  }
  &_body {
    margin: 10px 4px;
  }
  a {
    text-decoration: none;
    color: black;
  }
}
