.FullPost{
    margin: 0 15%;
    padding-left: 5px;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.46);
    &_userId{
        font-size: 22px;
    }
    &_title{
        font-size: 26px;
    }
    &_body{
        margin: 10px 4px;
    }
    &_Link{
        margin: 5px;
        background-color: rgba(60, 216, 99, 0.5490196078431373);
        a{
            text-decoration: none;
            color: black;
        }
    }
}