.PostListContainer {
  list-style-type: none;
  padding: 0 30%;
  padding-top: 10px;

  a {
    text-decoration: none;
    color: black;
  }

  &_PostList {
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.59);
    margin-bottom: 10px;
    padding: 2px;
    border: 1px solid rgba(76, 67, 67, 0.74);
    border-radius: 2%;
    background-color: white;
    min-height: 100px;

    &_userId {
      display: flex;
      justify-content: flex-start;
      font-size: 24px;
      font-weight: 500;
      padding: 10px 0px 0px 10px;
    }

    &_topic {
      font-weight: 600;
      padding: 6px;
    }
  }
  &_PostList:hover {
    background-color: white !important;
  }
}
